wxPython
# Only for Windows to have a shortcut created (install before RIDE)
Pywin32; sys_platform == 'win32'
Pygments>=2.20.0   # This enables syntax highlighted in Text Editor
robotframework
Pypubsub
psutil
packaging
# chardet==7.5.1 --hash=sha256:36843a0e9e3196142e317806d5ca29ab0bb714de2315897124a018438cc535a3
chardet
requests==2.32.5; python_version < '3.10'
requests>=2.33.0; python_version >= '3.10'

